<div class="container">
    <div>
        <h1>ECCOMERCE</h1>
    </div>

    <div id="caja" class="caja">
        <h1>Carrito de Compras</h1>
        {{#each products}}
        <p>{{this.Product.name}} - {{this.product.price}} - {{this.product.category}} - {{this.product.stock}}</p>
        {{/each}}
    </div>


    <button onclick="agregarProductoAlCarrito()">Agregar Producto</button>

</div>