
<div class="container">
    <div>
       <h1>Productos eccomerce de {{nombre}} </h1>
    </div>
    <div id="caja" class="caja"></div>
</div>

<form onsubmit="return addProd()" class="form">

    <div class="mb-3">
        <textarea class="form-control" id="txtTit" placeholder="Producto..."></textarea>
    </div>
     <div class="mb-3">
        <textarea class="form-control" id="txtDesc" placeholder="Descripción.."></textarea>
    </div> 
    <div class="mb-3">
        <textarea class="form-control" id="txtPrice" placeholder="Precio..."></textarea>
    </div>
     <div class="mb-3">
        <textarea class="form-control" id="txtThumbn" placeholder="Imagen..."></textarea>
    </div>
     <div class="mb-3">
        <textarea class="form-control" id="txtCod" placeholder="Codigo..."></textarea>
    </div>
     <div class="mb-3">
        <textarea class="form-control" id="txtStock" placeholder="Stock..."></textarea>
    </div>

    <input type="submit" value="Enviar" class="btn btn-primary" />
</form>
    <div class="forms">
        <form onsubmit="return delProd()">
            <h2>ELIMINAR PRODUCTO</h2>
            <label for="txtId">Id:</label>
            <input type="text" id="txtId" />
            <input type="submit" value="Eliminar" />
        </form> 
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>