<div class="container">
    <div>
        <h1>ECCOMERCE</h1>
        <h2>Bienvenido </h2>
    </div>

   
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/session.js"></script>