<div class="container">
    <div>
        <h1>ECCOMERCE</h1>
        <h2>Bienvenido </h2>
    </div>
    <form onsubmit="return addSession()" class="form">

        <div class="mb-3">
            <textarea class="form-control" id="txtTit" placeholder="Nombre..."></textarea>
        </div>  
        <div class="mb-3">
            <textarea class="form-control" id="txtDesc" placeholder="Mail.."></textarea>
        </div> 
        <div class="mb-3">
            <textarea class="form-control" id="txtDesc" placeholder="Contraseña.."></textarea>
        </div> 
         <div class="mb-3">
            <textarea class="form-control" id="txtDesc" placeholder="Edad..."></textarea>
        </div> 
       
        <input type="submit" value="Resgistrarse" class="btn btn-primary" />


   
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/db/sessionManager"></script>




