<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.users.firstname}}</td>
                <td>{{this.users.lastname}}</td>
                <td>{{this.users.mail}}</td>
                <td>{{this.users.role}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>

