

    <h1>Cambiar Rol de Usuario</h1>
    <form id="changeRoleForm">
        <label for="userId">ID de Usuario:</label>
        <input type="text" id="userId" name="userId" required><br><br>
        
        <label for="role">Nuevo Rol:</label>
        <select id="role" name="role">
            <option value="user">Usuario</option>
            <option value="premium">Premium</option>
        </select><br><br>

        <button id="btn" type="submit">Cambiar Rol</button>
    </form>
    <a href="/api/view/profile">Ver Perfil</a>

    <script src='/js/change-role.js'></script>
    