    <h1>Todos los productos</h1>
    <main>
        <div id="card"></div>
        <div id="cardProd">
            <label for='addProd'>Producto ID</label>
            <input type='text' id='addProd' />
            <button id='addProdBtn'>Agregar al Carrito</button>
            <button id='cartUser'>Mostrar Carrito</button>
        </div>
             <div id="cartContents"></div>
            <button id='tk-compra'>Cerrar Compra</button>
    </main>
     <script>
        const cartId = '<%= cartId %>';
    </script>
    <script src='/js/productsUser.js'></script>