<h1>Todos los productos</h1>
<main>
    <div id="card"></div>
    <div id="cardProd">
        <label for='pid'>Producto ID</label>
        <input type='text' id='pid' />

            <button id='deleteProd'>ELIMINAR</button>   
    </div>
  <div><a href='/api/view/profile'>Volver</a>  </div>
</main>


   <script src='/js/products.js'></script>

