<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <div>
        <h1>Restablecer contraseña</h1>
        <form action="/api/reset/reset-password/{{token}}" method="post">
            <label for="password">Nueva contraseña: </label>
            <input type="password" id="password" name="password" required />
            <br/>
            <label for="confirmPassword">Confirmar contraseña: </label>
            <input type="password" id="confirmPassword" name="confirmPassword" required />
            <br/>
            <button type="submit">Restablecer contraseña</button>
        </form>
    </div>
</body>
</html>

<script>
    // Obtener el token de la URL
    const token = window.location.pathname.split('/').pop();
    // Establecer la acción del formulario con el token dinámicamente
    document.getElementById('resetPasswordForm').action = `/api/reset/reset-password/${token}`;
</script>